<html>

<head>
	<link rel="stylesheet" href="../style/main.css"/>
	<link rel="stylesheet" href="../style/markdown.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div id="navbar">
		<a href="/" class="home"><img src="../res/images/icon.png"/></a>
		<a href="../views/about">About</a>
		<a href="../views/blog">Blog</a>
	</div>

	<div id="outer-markdown">
		<div id="inner-markdown"></div>
	</div>

	<div id="outer-list"></div>

	<script type="text/javascript" src="../js/navbar.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/showdownjs/showdown/1.9.1/dist/showdown.min.js"></script>
	<script type="text/javascript" src="../js/markdown.js"></script>
</body>

</html>